{% extends "base.html" %}

{% block content %}
    <main>
        <h1>Account</h1>
        <table>
            <thread>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for accounts in account %}
                <tr>
                    <td> {{ account.name }} </td>
                    <td> {{ account.number_of_recepits }} </td>
                </tr>
            {% endfor %}
            </thread>
        </table>
    </main>

{% endblock content %}
