{% extends "base.html" %}

{% block content %}
    <main>
        <h1>Expense Category</h1>
        <table>
            <thread>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for expenses in expense_category %}
                <tr>
                    <td> {{ expense_category.name }} </td>
                    <td> {{ expense_category.number_of_recepits }} </td>
                </tr>
            {% endfor %}
            </thread>
        </table>
    </main>

{% endblock content %}
